- columns = ["name", "command_start", "status", "action"]
%table.boris_table
  %tr
    - columns.each do |c|
      %th
        = c.sub('_', ' ').split.map(&:capitalize).join ' '
  = render partial: "row", collection: Boris.all, as: :boris, locals: { columns: columns }

= simple_form_for @new_boris do |f|
  = f.text_field :name, placeholder: "Name"
  = f.text_field :command_start, placeholder: "Command"
  = f.submit